<!DOCTYPE html>
<html>
  <head>
    <title>Viewflix</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>
    <script type="text/javascript">
      window.logo = "<%= image_url('logo3.png') %>";
    </script>
    <%= favicon_link_tag 'favicon.ico' %>
    
    <%= stylesheet_link_tag    'application', media: 'all' %>
    <%= javascript_include_tag 'application' %>
    <link href="https://fonts.googleapis.com/css2?family=Roboto+Slab:wght@500&display=swap" rel="stylesheet">
    <script src="https://kit.fontawesome.com/6bdae87246.js" crossorigin="anonymous"></script>
    <meta name="image" property="og:image" content="https://i.imgur.com/5aPSg8G.png"> 
  <meta name="description" property="og:description"
    content="Netflix clone that implements a Rails backend and Reactjs / Redux frontend with movie trailers hosted on AWS.">
  <meta name="author" content="Kevin Espinal">
  </head>

  <body>
    <%= yield %>
  </body>
</html>
